#banner {
    background-image: url('../assets/background.webp');
    animation: backBanner 180s linear infinite;
    overflow: hidden;
}
#badEmail{
    color: red;
    display: none;
}

@keyframes backBanner {
    0% {
        background-position: 0px 0px;
    }
    50% {
        background-position: -4000px -4000px;
    }
    100% {
        background-position: 0px 0px;
    }
}